<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Just Bloggin</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/script.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
=======
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bloggin</title>

</head>
<body>
    {{{body}}}
</body>
>>>>>>> develop
</html>