<form>
    <div class="form-group">
      <label for="formGroupExampleInput">Blog Title:</label>
      <input type="text" class="form-control" id="formGroupExampleInput blogName" placeholder="Create A Blog Title...">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Picture URL:</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Picture URL...">
    </div>
    <div class="form-group">
        <label for="comment">Blog Body:</label>
        <textarea class="form-control" rows="25" id="comment blogContent"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
  



